#cn-cmap .cn-clear { clear: both; }
#cn-cmap { clear: both; line-height: normal; }

#cn-cmap .cn-alphaindex { text-align: right; }
#cn-cmap #cn-list-head .cn-alphaindex { position: relative; margin: 12px 0 0; text-align: right; }

#cn-cmap .cn-search { float: right; }
#cn-cmap .cn-search label { display: none; }

#cn-cmap #cn-select-label {
    display: block;
    font-size: 14px;
    margin: 10px 0 6px;
    text-align: left;
}

#cn-cmap form.cn-form { clear: both; margin: 0 0 10px; text-align: left; }
#cn-cmap form.cn-form select.cn-cat-select { font-size: 12px; height: auto; min-width: 250px; }

#cn-cmap .cn-entry {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #D3D3D3;
	font-size: 12px;
	margin: 10px 4px;
	padding: 12px;
	position: relative;
}

#cn-cmap .cn-entry.featured {
	-webkit-box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	-moz-box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	box-shadow: 0px 3px 4px 2px rgba(100, 100, 100, .4);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#CCC')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000'); /* For IE 5.5 - 7 */
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 1%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e3e3e3), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(top, #e3e3e3 1%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

#cn-cmap table { border: none; border-collapse:separate; float: none; margin: 0; width: 100%; }
#cn-cmap table tr { background: transparent; }
#cn-cmap table tr td { background: transparent; border: none; line-height: normal; margin: 0; padding: 0; text-align: left; }
#cn-cmap table, .cn-entry th, .cn-entry td { vertical-align: top; }
#cn-cmap table p { margin: 0 0 4px; }
#cn-cmap .cn-label { font-weight: bold; }
#cn-cmap .fn { display: block; font-size: 16px; font-variant: small-caps; font-weight: bolder; }

#cn-cmap .link-block { display: inline; margin-bottom: 0; }
#cn-cmap .link { display: inline; }

#cn-cmap .cn-image-style p {
	color: #AAAAAA;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	filter: dropshadow(color=#FFFFFF,offX=1,offY=1);
	padding: 5px;
}

#cn-cmap .cn-bio, #cn-cmap .cn-notes {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #f1f1f1;
	border:1px solid #D3D3D3;
	margin: 10px 0 6px;
	padding: 6px;
}
#cn-cmap .cn-bio h4, #cn-cmap .cn-notes h4 { font-size: 16px; font-weight: bold; margin: 0 0 6px; text-align: left; }
#cn-cmap .cn-bio .cn-image-style { float: right; }
#cn-cmap .bio, #cn-cmap .note {
    background: transparent none;
    border: none;
    box-shadow: none;
    margin: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	text-align: left;
	width: 100% !important;
}

/*-------------------------------------*/
/*--------------[KIDZOU]---------------*/
/*-------------------------------------*/
#cn-list span.cn-image-style {background-color:inherit !important;border: 0 !important; margin: 0 !important;padding: 0 !important; }
.cn-list-row-alternate,.cn-list-row {max-width:70%; margin:2em 15%;} 
#cn-list span.contact-name {display:none !important;}
.cn-featured {
	text-shadow: 1px 1px 1px #656564;
	font-size: 1em;
	font-weight:normal;
	padding: 4px 0em;
	padding-left:5px;
	width: 220px; /*220 + padding-left = image width (225) */
	position: absolute;
	z-index: 2;
}
.org.fn{letter-spacing: 1px;}

@media only screen and ( max-width: 768px ) { 
	.cn-featured {width: 145px;}
	.cn-list-row-alternate,.cn-list-row {max-width:90%; margin:1em 5%;} 
	#cn-cmap table tr td:nth-child(1) {width:35% !important}
	#cn-list span.cn-image {width:auto ! important; height:auto !important}
	#cn-list span.cn-image img {width:150px !important; height:100px !important}
}

@media only screen and ( max-width: 479px ) {
	.cn-featured {width: 75px;font-size: 0.9em;padding: 1px 0em;padding-left:5px;}
	.cn-list-row-alternate,.cn-list-row {max-width:96%; margin:1em 2%;} 
	#cn-list span.cn-image img {width:80px !important; height:53px !important}
}