SetEnv PHP_VER 5
SetEnv REGISTER_GLOBALS 0

#ajout pour optimisation cache
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

# les ressources sont optimisées par PageSpeed

#Expires
<IfModule mod_headers.c>
 Header append Cache-Control "public"
</IfModule>

<IfModule mod_expires.c>

	ExpiresActive On
	ExpiresDefault "access plus 0 days"
	ExpiresByType image/jpg "access plus 3 months"
	ExpiresByType image/jpeg "access plus 3 months"
	ExpiresByType image/png "access plus 3 months"
	ExpiresByType image/gif "access plus 3 months"
	AddType image/x-icon .ico
	ExpiresByType image/ico "access plus 3 months"
	ExpiresByType image/icon "access plus 3 months"
	ExpiresByType image/x-icon "access plus 3 months"
	
	ExpiresByType text/css "access plus 3 months"
	ExpiresByType text/javascript "access plus 3 months"
	ExpiresByType application/javascript "access plus 3 months"
	ExpiresByType application/x-javascript "access plus 3 months"

	ExpiresByType application/json "access plus 12 hours"
	
	ExpiresByType text/html "access plus 12 hours"
	ExpiresByType application/xhtml+xml "access plus 1 days"
	ExpiresByType application/x-shockwave-flash "access plus 7 days"

	# Add correct content-type for fonts 
	AddType application/vnd.ms-fontobject .eot
	AddType font/ttf .ttf
	AddType font/otf .otf
	AddType font/x-woff .woff
	AddType image/svg+xml .svg
	 
	# Add a far future Expires header for fonts
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType font/ttf "access plus 1 year"
	ExpiresByType font/otf "access plus 1 year"
	ExpiresByType font/x-woff "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"

</IfModule>

#GZIP
# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml font/ttf font/otf image/svg+xml application/x-javascript application/x-httpd-php 
#Pour les navigateurs incompatibles
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
#ne pas mettre en cache si ces fichiers le sont déjà
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
#les proxies doivent donner le bon contenu
Header append Vary User-Agent env=!dont-vary

# WPhtC: Disable ServerSignature on generated error pages
ServerSignature Off

# WPhtC: Disable directory browsing
Options All -Indexes

# WPhtC: Protect WP-config.php
<files wp-config.php>
order allow,deny
deny from all
</files>

# WPhtC: Protect .htaccess file
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
</files>

# WPhtC: Protect comments.php
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !.*http://www.kidzou.fr.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]



# GEOLOCALISATION
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# ré-ecriture de la home pour référencement SEO des différentes villes
# c'est à dire que la home n'a pas une URL unique, mais 1 URL par métropole

RewriteCond %{QUERY_STRING} !.*kz_metropole=.*
RewriteCond %{HTTP:Cookie} (^|;\ *)kz_metropole=([^;\ ]+)
RewriteCond %2 !=-1
RewriteRule ^/?$  %2 [L,R]  

# ré-ecriture des anciennes categories et taxonomies

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lille/rubrique/offres/?(page)?/?([0-9])?$  offres/$1/$2 [L,R] 
RewriteRule ^lille/rubrique/a-gagner/?(.*)$  concours/$1 [L,R] 

</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
